<!DOCTYPE html>
<html>

<head>
	<link th:href="@{/css/reservation_requests.css}" rel="stylesheet" />
	<title>View Book Requests</title>
</head>
	<body>
		<span class="requestPanel">
			<table>
				<tbody>
					<tr th:if="${requests.empty}">
						<td colspan="2">No Book Requests</td>
					</tr>
					<tr th:each="request : ${requests}">
						<td>
							<info>
								<span>Request for <span>
								<span th:text="${request.title}"></span>
								<span> by </span>
								<span th:text="${request.author}"></span>
								<span> from </span>
								<span th:text="${request.user.first_name}"></span>
							</info>
						</td>
					</tr>
				</tbody>
			</table>		
		</span>
	</body>
</html>