<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Search a Book</title>
  <link th:href="@{/css/reservation_requests.css}" rel="stylesheet" />
</head>
<body>
  <div th:replace="navbar/show :: navbar" ></div>

<!--
  <div id="pastEvents">
    <tr th:each="event: ${pastEvents}">
      <a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.name}">bruh</a>
    </tr>
  </div>
  <div id="upcomingEvents">
    <tr th:each="event: ${upcomingEvents}">
      <a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.name}">bruh</a>
    </tr>
  </div> -->


<form method="post" action="/books/book-search">
	<div id="search-bar" class="container">
        <select name="userSelection" id="userSelection">
            <option value="0">Title</option>
            <option value="1">Keyword</option>
            <option value="2">Author</option>
			<option value="3">Between Years</option>
		<label for="bookName">Book Name</label>
		<input type="text" id="title" name="title" required>
		<button type="submit">Search</button>
		<a href="/books/request_book">Request a Book</a>
		<a th:if="${role}==2" href="/books/add_book">Add a Book</a>
	</div>
</form>

<table id="search-results">
    <thead>
        <tr>
            <th> Title </th>
            <th> Author </th>
			<th> Published Year </th>
			<th> Book ID </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${books.empty}">
            <td colspan="2"> No Books Found </td>
        </tr>
        <tr th:each="book : ${books}">
            <td><a th:href="@{/books/book/{id}(id=${book.id})}"><span th:text="${book.title}"> Title </span></a></td>
            <td><span th:text="${book.author}"> Author </span></td>
			<td><span th:text="${book.published_year}"> Published Year </span></td>
			<td><span th:text="${book.id}"> Book ID </span></td>
        </tr>
    </tbody>
</table>

</body>

</html>