<!DOCTYPE html>
<html>

<head>
	<link th:href="@{/css/reservation_requests.css}" rel="stylesheet" />
	<title>View Reservation Requests</title>
</head>
	<body>
	<div th:replace="navbar/show :: navbar" ></div>
		<span class="requestPanel">
			<table>
				<tbody>
					<tr th:if="${requests.empty}">
						<td colspan="2">No Reservation Requests</td>
					</tr>
					<tr th:each="request : ${requests}">
						<td>
							<info>
								<span>Request for <span>
								<span th:text="${request.book.title}"></span>
								<span> by </span>
								<span th:text="${request.book.author}"></span>
								<span> from </span>
								<span th:text="${request.requester.first_name}"></span>
							</info>
							<form th:action="@{/books/reservation_requests/{id}/approve(id=${request.id})}" method="post">
								<input id="approveButton" type="submit" value="Approve">
							</form>
							<form th:action="@{/books/borrow_requests/{id}/reject(id=${request.id})}" method="post">
								<input id="rejectButton" type="submit" value="Reject" formnovalidate>
							</form>
							<br>
							<br>
						</td>
					</tr>
				</tbody>
			</table>		
		</span>
	</body>
</html>