<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="librarian_navbar.css">
		<title>Librarian Navbar</title>
	</head>
	
	<div class="bar">
		<a href="#!" class="container" id="brand">
			<div id="logo" class="circle">
				<div class="circle" id="logo-left">
					<div class="myDiv">
						<img src="logo.png" alt="Logo" height="50" width="50">
					</div>					
				</div>
				<div id="logo-right" class="myDiv">
				School <br> Library <br> Database
				</div>
			</div>
		</a>
		<a href="/books/book_requests" class="container" id="book-requests"><img src="img/addition.png" alt="Book Requests" height="30" width="30">Book Requests
		</a>
		<a href="/books/reservation_requests" class="container" id="reservation-requests"><img src="img/reserve.png" alt="Reservation Requests" height="30" width="30">Reservation Requests
		</a>
		<a href="/books/borrow_requests" class="container" id="borrow-requests"><img src="img/borrowing.png" alt="Borrow Requests" height="30" width="30">Borrow Requests
		</a>
		<a href="/books/book-search" class="container" id="book-search"><img src="img/magnifier.png" alt="Search" height="30" width="30">Search Books
		</a>
		<a href="/notifications/send" class="container" id="send-notifications"><img src="img/notification.png" alt="Notifications" height="30" width="30">Send Notifications
		</a>
		<a href="/logout" class="container" id="log-out"><img src="img/exit.png" alt="Log out" height="30" width="30">Log Out
		</a>
	</div>
</html>