body {
    background: #2B2D32;
    font-family: 'Poppins';
}

.requestPanel{	
	box-sizing: border-box;

	position: absolute;
	width: 50%;
	height: 545px;
	left: 84px;
	top: 175px;
	font-size: 25px;

	background: #FFFFFF;
	border: 2px solid #3B3E45
}
.bookInfoPanel{	
	box-sizing: border-box;

	position: absolute;
	width: 40%;
	height: 300px;
	left: 84px;
	top: 140px;
	font-size: 25px;

	background: #FFFFFF;
	border: 2px solid #3B3E45
}

.bookButtonPanel{	
	box-sizing: border-box;

	position: absolute;
	width: 40%;
	height: 300px;
	right: 84px;
	top: 140px;
	font-size: 25px;

	background: #FFFFFF;
	border: 2px solid #3B3E45
}

.bookRatingPanel{	
	box-sizing: border-box;

	position: relative;
	width: 40%;
	height: 300px;
	top: 450px;
	left: 84px;
	font-size: 25px;

	background: #FFFFFF;
	border: 2px solid #3B3E45
}

.picButton{
	position: absolute;
	width: 123px;
	height: 47px;
	left: 980px;
	top: 350px;
	background: #5A1A1A;
	border-radius: 8px;
	color: white;
	font-size: 22px;


}

.bookButton{
	position: relative;
	width: 123px;
	height: 47px;
	background: #5A1A1A;
	border-radius: 8px;
	color: white;
	font-size: 22px;
	margin-bottom: 5px;

}

.availableLabel{
	position: relative;
	width: 150px;
	height: 47px;
	background: #7FFFD4;
	border-radius: 8px;
	color: black;
	font-size: 22px;
	margin-bottom: 5px;
}

.td {
	 border-bottom: 0px solid red;
}

#rejectButton:hover {background: black}
#approveButton:hover {background: black}
#deleteNotificationButton:hover {background: black}

#deleteNotificationButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#rejectButton{
	position: absolute;
	width: 108px;
	height: 30px;
	right: 240px;

	background: #5A1A1A;
	border-radius: 8px;
	
	color: white;
	font-size: 19px;
}

ul {
    list-style-type: none;
}

#search-bar{
	position: absolute;
	top: 100px;
	left: 45px;
	background: #2B2D32;
}

#search-results{
	position: absolute;
	top: 200px;
	color: white;
}

a:link, a:visited {
    color: white;
	font-type: bold;
}
	

#approveButton{
	position: absolute;
	width: 108px;
	height: 30px;
	right: 1px;

	background: #1A5A30;
	border-radius: 8px;
	
	color: white;
	font-size: 19px;
}

#deleteNotificationButton{
	position: absolute;
	width: 108px;
	height: 30px;
	right: 1px;

	background: #5A1A1A;
	border-radius: 8px;
	
	color: white;
	font-size: 19px;
}

#dueDateInput{
	position: absolute;
	width: 108px;
	height: 30px;
	right: 120px;
}



info {
	background: #ebe2e1;
}

td {
	 border-bottom: 5px solid red;
}

hr{
	height: 2px;
}